<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="jdbc.properties"></properties>

    <!-- 开发环境 -->
    <environments default="mysql">
        <environment id="mysql">
            <!-- 使用JDBC事务管理器，目前由MyBatis管理 -->
            <transactionManager type="JDBC"/>
            <!-- 配置DataSource标准数据源，目前由MyBatis管理 -->
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- mapper文件 -->
    <mappers>
        <mapper resource="com/yz/mybatis/mapper/StudentMapper.xml"></mapper>
    </mappers>
</configuration>