<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>request map</title>
</head>
<body>

<p>Value</p>
<a th:href="@{/map/v1}" > /map/v1 </a><br/>
<a th:href="@{/map/v2}" > /map/v2 </a><br/><br/>

<p>ant 风格</p>
<a th:href="@{/map/v123a}" > /map/v123a </a><br/>
<a th:href="@{/map/v1b}" > /map/v1b </a><br/>
<a th:href="@{/map/v/1/2/3}" > /map/v/1/2/3 </a><br/><br/>

<p>Method</p>
<a th:href="@{/map/method}" > /map/method (get)</a><br/>
<form th:action="@{/map/method}" method="post">
    /map/method (post)
    <input type="submit">
</form><br/>

<p>Para</p>
<a th:href="@{/map/para(name='abc')}" > /map/para ('abc', 无pwd)</a><br/>
<a th:href="@{/map/para(name='abc', password='123')}" > /map/para ('abc', '123')</a><br/>
<a th:href="@{/map/para(name='root', password='123')}" > /map/para ('root', '123')</a><br/>
<!--get请求传参：可以使用？拼接在请求路径后面
                此处利用了 thymeleaf模板引擎-->


</body>
</html>